@page
@model IndexModel
@{
    ViewData["Title"] = "Index";
}

<div style="text-align:center">
    <h2><b>SpaceInitiative</b></h2>
    <h3>A Space Combat Initiative Tracker for the Starfinder RPG</h3>
    <hr />
    <h2>Create or Resume an Encounter</h2>
    <form method="post">
        <label asp-for="EncounterTitle">Encounter Title:</label>
        <input asp-for="EncounterTitle" />
        <button class="btn btn-default" type="submit" asp-page-handler="CreateEncounter">Create Encounter</button>
    </form>

    <form method="post">
        <label asp-for="EncounterStringID">Encounter ID:</label>
        <input style="width:75px" asp-for="EncounterStringID"/>
        <button class="btn btn-default" type="submit" asp-page-handler="ResumeEncounter">Resume Encounter</button>
    </form>

    @if (Model.EncounterCookie.RecentEncounters.Any())
    {
        <h3>Recent Encounters</h3>
        @foreach (var encounter in Model.EncounterCookie.RecentEncounters)
        {
            <a href="/Encounter?id=@encounter.EncounterStringID">@encounter.EncounterStringID - @encounter.EncounterTitle</a>
            <br />
        }
    }
</div>